@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fcfcfc; /* --gray-1: #fcfcfc; */
    --ghost: #fcfcfc95; /* --gray-1: #fcfcfc85; */

    /* !Button */
    --button: #f9f9fb; /* --gray-1: #f9f9fb; */
    --buttonHover: #f9f9fb45; /* --gray-1: #f9f9fb45; */

    /* ! CARD */
    --card: #00000005; /* --gray-a3: #0000000f; */
    --cardHover: #00000045; /* --gray-a5: #0000001f; */

    /* ! TEXT */
    --fg: #202020; /* --gray-12: #202020; */
    --fgLight: #646464; /* --gray-11: #646464; */
    --fgLighter: #838383; /* --gray-10: #838383; */
    --fgLightest: #8d8d8d; /* --gray-7: #8d8d8d; */

    /* ! BORDER */
    --border: #e0e0e0; /* --gray-5: #e0e0e0; */
    --borderLight: #d9d9d9; /* --gray-6: #d9d9d9; */
    --borderLighter: #bbbbbb; /* --gray-8: #bbbbbb; */
    --borderLightest: #f9f9f9; /* --gray-2: #f9f9f9; */

    /* ! ICON */
    --icon: #646464; /* --gray-11: #b4b4b4; */
    --iconLight: #838383; /* --gray-10: #838383; */
    --iconLighter: #e8e8e8; /* --gray-4: #e8e8e8; */
    --iconLightest: #f9f9f9; /* --gray-2: #f9f9f9; */

    /* ! BADGE Border and foreground */
    /* * amber, cyan, jade, ruby */
    --badgeAmber: #f5a623;
    --badgeCyan: #00b8d9;
    --badgeRuby: #ff5a5f;
    --badgeJade: #00c781;

    /* ! Badge Background */
    --badgeAmberBg: #f5a62330;
    --badgeCyanBg: #00b8d930;
    --badgeRubyBg: #ff5a5f30;
    --badgeJadeBg: #00c78130;

    --prim: #f9f9fb;
    --sec: #e8e8ec;
    --tert: #d9d9e0;
  }
}
.dark {
  --background: #111111; /* --gray-1: #202020; */

  --ghost: #11111185; /* --gray-1: #202020; */

  /* ! CARD */
  --card: #ffffff05; /* --gray-a3: #ffffff12; */
  --cardHover: #ffffff45; /* --gray-a5: #ffffff22; */

  /* ! foreground */
  --fg: #f0f0f0; /* --gray-12: #f0f0f0; */
  --fgLight: #b4b4b4; /* --gray-11: #b4b4b4; */
  --fgLighter: #8d8d8d; /* --gray-9: #8d8d8d; */
  --fgLightest: #646464; /* --gray-7: #646464; */

  /* ! BORDER */
  --border: #3a3a3a; /* --gray-5: #3a3a3a; */
  --borderLight: #2b2b2b; /* --gray-6: #2b2b2b; */
  --borderLighter: #1f1f1f; /* --gray-8: #1f1f1f; */
  --borderLightest: #1a1a1a; /* --gray-2: #1a1a1a; */

  /* ! ICON */
  --icon: #b4b4b4; /* --gray-11: #b4b4b4; */
  --iconLight: #8d8d8d; /* --gray-10: #8d8d8d; */
  --iconLighter: #3a3a3a; /* --gray-4: #3a3a3a; */
  --iconLightest: #1a1a1a; /* --gray-2: #1a1a1a; */

  /* ! BADGE Border and Text */
  /* * amber, cyan, jade, ruby */
  --badgeAmber: #f5a623;
  --badgeCyan: #00b8d9;
  --badgeRuby: #ff5a5f;
  --badgeJade: #00c781;

  /* ! Badge Background */
  --badgeAmberBg: #f5a62330;
  --badgeCyanBg: #00b8d930;
  --badgeRubyBg: #ff5a5f30;
  --badgeJadeBg: #00c78130;

  --prim: #f9f9fb;
  --sec: #e8e8ec;
  --tert: #d9d9e0;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}
